<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>

    <menuitem name="Карточка" id="big_brother.menu_main" action="act_open_main_view"/>

    <menuitem name="Тех.данные ВК" id="big_brother.vk_main"/>

    <menuitem name="Карточка ВК" id="big_brother.menu_vk_person" action="act_open_vk_person_view" parent="big_brother.vk_main"/>
    <menuitem name="Поиск ВК" id="big_brother.menu_vk_search" action="act_open_vk_search_view" parent="big_brother.vk_main"/>
    
  </data>
</odoo>
